.shop-by-collection {
  .collection-title {
    font-weight: 600;
    font-size: 2.5rem;
    color: #333;
  }
  .underline {
    width: 60px;
    height: 4px;
    background-color: #d784b3;
    border-radius: 2px;
  }
  .links {
    font-size: 2.25rem;
    color: #d784b3;
    a {
      color: #d784b3;
      text-decoration: none;
      margin: 0 8px;
    }
    .divider {
      color: #d784b3;
    }
  }
  .lookbook-main-container {
    background-color: #fff;
    border: 1px solid #eee;
    height: 600px;
    .lookbook-image {
      width: 100%;
      height: 100%;
      background-color: #ffeaf1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        // object-position: left center;
      }
    }
    .lookbook-text {
      width: 30%;
      height: 100%;
      background-color: #fff;
    }
    .lookbook-text-content {
      position: absolute;
      top: 35%;
      left: 64%;
      .lookbook-year {
        font-size: 3rem;
        color: #888;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .lookbook-title {
        font-size: 5rem;
        color: #000000;
        font-weight: 600;
        margin: 0.5rem 0;
        line-height: 1.2;
        text-align: start;
      }
      .lookbook-link {
        margin-top: 2rem;
        font-size: 2rem;
        color: #111;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #111;
          margin-top: 2px;
        }
        &:hover {
          color: #d784b3;
          &::after {
            background: #d784b3;
          }
        }
      }
    }
  }
  .lookbook1,
  .lookbook2 {
    height: 600px;
    img {
      width: 70%;
      height: 100%;
      object-fit: cover !important;
    }
  }
  // .lookbook1 {
  //   background: #d1d9f0;
  // }
  // .lookbook2 {
  //   background: #f4efe1;
  // }
  // .lookbook1,
  // .lookbook2 {
  //   height: 600px;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }

  @media (max-width: 1440px) {
    .lookbook-main-container {
      .lookbook-text-content {
        .lookbook-year {
          font-size: 2rem;
        }
        .lookbook-title {
          font-size: 4rem;
        }
        .lookbook-link {
          font-size: 15px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .lookbook-main-container {
      .lookbook-text-content {
        left: 60%;
      }
    }
  }
  @media (max-width: 768px) {
    .lookbook-main-container {
      background-color: #fff;
      border: 1px solid #eee;
      height: 600px;
      .lookbook-image {
        width: 70%;
        height: 100%;
        background-color: #ffeaf1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left center;
        }
      }
      .lookbook-text {
        width: 30%;
        height: 100%;
        background-color: #fff;
      }
      .lookbook-text-content {
        .lookbook-year {
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        .lookbook-title {
          font-size: 7rem;
          font-weight: 700;
        }
        .lookbook-link {
          margin-top: 1rem;
          font-size: 15px;
        }
      }
    }
    .lookbook-main-container {
      .lookbook-text-content {
        left: 60%;
      }
    }

    .lookbook1,
    .lookbook2 {
      height: 400px;
    }

    .lookbook1 img,
    .lookbook2 img {
      width: 67%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 480px) {
  .lookbook-text-side {
    padding: 1.5rem;
    .lookbook-title {
      font-size: 1.8rem;
    }
    .lookbook-button {
      font-size: 0.9rem;
    }
  }
  .lookbook1,
  .lookbook2 {
    // height: 250px;
    img {
      object-fit: contain;
    }
  }
}

@media (max-width: 375px) {
  .lookbook-main-container {
    .lookbook-text-content {
      left: 45% !important;
    }
  }
}

@media (max-width: 375px) {
  .lookbook-main-container {
    .lookbook-text-content {
      left: 40% !important;
    }
    .lookbook-title {
      font-size: 6rem !important;
    }
  }
}

// @media (max-width: 2560px) {
//   .lookbook-main-container {
//     background-color: #fff;
//     border: 1px solid #eee;
//     height: 600px;
//     .lookbook-image {
//       width: 70%;
//       height: 100%;
//       background-color: #ffeaf1;
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: left center;
//       }
//     }
//   }
// }
